.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    background-color: #FFF8F3;
    background-image: url('../images/developer.png'), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}
/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.logo{
    font-size: 45px;
    font-weight: 800;
}
.logo-r{
    color: #FD6E0A;
}
.manu{
    display: flex;
    align-items: center;
    gap: 51px;
    list-style: none;
}
.manu > li > a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.manu-btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}

.banner-grittings{
    color: #1E1E1E;
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: #1E1E1E;
    font-size: 85px;
    font-weight: bold;
}
.banner-btn-1{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 17px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.banner-btn-2{
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: #FFF8F3;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 24px;
}
.profile{
    width: 584px;
}

/* main */
main{
    margin: 0 200px;
}

/* about us */
.about-us{
    background-color: #FFF8F3;
    padding: 130px 190px;
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;

}
.about-us-title{
    font-size: 35px;
    font-weight: bold;
}
.about-us-des{
    color: #757575;
    font-size: 18px;
}
.about-us-items{
    display: flex;
    justify-content: space-around;
}
.about-us-item-title{
    color: #757575;
    font-size: 20px;
}
.about-us-item-info{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

/* skills */

.skills{
    padding: 0 200px;
    text-align: center;
    margin-top: 130px;
}
.skill-title{
    font-size: 35px;
    font-weight: bold;
}
.skill-des{
    color: #757575;
    font-size: 18px;
    margin-top: 32px;
}

/* skill-card */

.skill-card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 50px;
}
.skill-card{
    padding: 33px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    text-align: start;
}

/* Resume */
.resume{
    padding: 0 200px;
    margin-top: 130px;
}
.resume-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.resume-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.education-title, .experience-title{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
}
.education-sub, .job{
    color: #474747;
    font-size: 25px;
    font-weight: bold; 
}
.education-institute, .job-company{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}
.education-des, .job-company-des {
    color: #757575;
    font-size: 16px;
}
.resume-btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 17px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.resume-btn-container{
    text-align: center;
    margin-top: 50px;
}

/* footer */

.footer{
    background-color: #FFF8F3;
    margin-top: 113px;
}
.footer-container{
    display: flex;
    gap: 117px;
    padding: 130px 240px;
    margin-left: 170px;
}
.social-media-title, .form-title{
    font-size: 35px;
    font-weight: bold;
}
.social-media-des{
    font-size: 16px;
}
.social-media > img{
    margin-right: 24px;
}
.form-container > input{
    display: block;
    background-color: white;
    width: 461px;
    height: 64px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding-left: 30px;
}
textarea{
    display: block;
    background-color: white;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding-left: 30px;
}
.form-btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 39px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}